<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Pagina sobre Programacion Visual</title>
	</head>
	
	<body>
		<header>
			<h1>Bienvenido a Programacion Visual</h1>
		</header>
		
		<nav>
			<ul>
				<li><a href="hhtps://www.fi.unju.edu.ar">Fi UnJu</a></li>
				<li><a href="#sobre-nosotros">Sobre nosotros</a></li>
				<li><a href="#contacto">Contacto</a></li>
			</ul>
		</nav>
		
		<main>
				<section id="inicio">
					<h2>Detalle</h2>
					<p>Materia de 2° año de la carrera Analista Programador Universitario<p/>
					<h3>Docentes</h3>
					<ol>
						<li>Vega Ariel</li>
						<li>Apaza Carolina</li>
						<li>Sosa Gustavo</li>
						<li>Rodriguez Juan Carlos</li>	
					</ol>
					<h4>Comisiones</h4>
						<ol>
						<li>Teoria: Miercoles 14:00 hs/17:00 hs (Prof. Vega Ariel)</li>
						<li>Practica-Comision 1: Lunes 18:00/21:00 hs (Prof. Apaza Carolina)</li>
						<li>Practica-Comision 2: Jueves 18:00/21:00 hs (Prof.Sosa Gustavo)</li>
						<li>Practica-Comision 3: Viernes 18:00/21:00 hs (Prof.Rodriguez Juan Carlos)</li>	
					</ol>
									
				</section>
		</main>

	</body>
</html>